<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>01Blog</mat-card-title>
      <mat-card-subtitle>Sign in to continue</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" placeholder="Enter your username">
          <mat-icon matSuffix color="primary">person</mat-icon>
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-icon matSuffix color="primary">lock</mat-icon>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
         

        <button mat-flat-button color="primary" class="auth-btn" [disabled]="loginForm.invalid">
          SIGN IN
        </button>
      </form>
       <div *ngIf="errorMessage" class="error-banner">
              <span>{{ errorMessage }}</span>
          </div>
    </mat-card-content>

    <div class="auth-footer">
      New to 01Blog? <a routerLink="/register">Create an account</a>
    </div>
  </mat-card>
</div>